<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VERKET"
        tools:targetApi="31">
        <activity
            android:name=".Paretenaire.UpdateProduct"
            android:exported="false" />
        <activity
            android:name=".Paretenaire.attente"
            android:exported="false" />
        <activity
            android:name=".Paretenaire.Homepartenaire"
            android:exported="false" />
        <activity
            android:name=".Paretenaire.emailverifparten"
            android:exported="false" />
        <activity
            android:name=".Paretenaire.addProduct"
            android:exported="false" />
        <activity
            android:name=".Paretenaire.DevenirPareten"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>